@font-face {
    font-family: Avenir;
    src: url("../font/AvenirLTStd-Book.woff") format("woff"), url("../font/AvenirLTStd-Book.ttf")  format("truetype");
}

html { 
    font-family: 'Avenir', sans-serif !important;
    box-sizing: border-box;
    position: relative;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.text-center {
	text-align: center;
}

.float-right {
	float: right;
}

.margin-top {
    margin-top: 2%;
}

.margin-bottom {
    margin-bottom: 11%
}

.header-content {
    padding-top: 50px;
    padding-bottom: 35px;
}
.header-content a img {
    max-width: 26%;
}

.angular-with-newlines {
    white-space: pre-line;
}

.footer {
    width: 100%;
    text-align: center;
    color: #949494;
    letter-spacing: 1px;
    font-size: 10px;
}

.footer p a {
    text-decoration: none;
    color: #949494;
}
.footer p a:hover {
    color: black;
}
/*
    HOME PAGE
*/

.home-pictures{
    background-image: url('../assets/images/profile2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 31vw;
    border: solid white;
    border-width: 4.5vw 6px 0 6px;
    padding: 0;
}
.home-pictures2{
    background-image: url('../assets/images/dog.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 31vw;
    border: solid white;
    border-width: 4.5vw 6px 0 6px;
    padding: 0;
}

.logos {
    padding-bottom: 28px;
}

.logos img {
        padding: 0 13px 0 13px;
}

@media (min-width: 992px) {
    .center-row-9 {
       margin: 0 14.5%;
    }
}

@media (max-width: 992px) {
    .home-pictures {
        height: 100vw;
    }

    .home-pictures2 {
        height: 100vw;
    }
}
/*
    OLIVIA PAGE
*/

.profile-container {
    margin: 5% 0 3% 0;
    padding: 0;
}

.square {
    padding: 0 0 2% 0;
}

.square-image {
    padding: 0 1% 0 1%;
}

.square-image > img {
    width: 100%;
}

.square-text {
    text-align: center;
    padding: 0 1% 0 1%;
}

.square-text > p {
    height: 100%;
}

/*
    STORE PAGE
*/

.album_info > div > img {
    width: 175px;
}

.album_info {
    padding-left: 0;
}

audio {
    width: 100px;
}

/*
    CUSTOM NAVBAR
*/

.navbar-default {
    background-color: white;
}

.navbar {
    margin-bottom: 0;
    border: 0px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.navigation li {float: left;}

ul.navigation li a {
    display: block;
    color: #949494;
    text-align: center;
    padding: 5px 0px;
    text-decoration: none;
    letter-spacing: 2px;
}

ul.navigation li a:hover:not(.active) {color: white;}

/*ul.navigation li a.active {background-color: #222;}*/

.container-fluid>.navbar-header,
.container-fluid>.navbar-collapse {
    margin-left: 0;
    margin-right: 0;
}

@media (min-width: 768px) {
    .no_width_change {
        width: auto;
    }
}

@media (min-width: 600px) {
    .container-fluid > .navbar-collapse,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container > .navbar-header {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    .hide_768 {
        display: none;
    }

    .navbar-header {
        display: none;
    }
    .collapse {
        display: block;
    }
}

@media (max-width: 600px){
    .hide_600 {
        display: none;
    }
    
    .header-content a img {
        max-width: 55%;
    }

    .profile-container {
        margin-top: -2px;
    }

    .form-horizontal {
        padding-top: 15px;
    }

    .container-fluid > .navbar-collapse {
        margin-left: -15px;
        margin-right: -15px;
    }

    .navbar-header {
        display: block;
        background-color: #333;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        border: none;
    }
    .navbar-default .navbar-toggle:active{
        background-color: transparent;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
    .header-content > img {
        max-width: 60%;
    }

    ul.navigation li {
        float: none; 
        margin-left: 0;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-device-width: 600px) {
    .navbar-header {
        float: none;
    }
    .navbar-default {
        background-color: transparent;
    }

   .header-content a img {
        max-width: 55%;
    }
}
@media only screen and (max-device-width: 800px) {
   .hide_768 {
        display: none;
    }
    .hide_600 {
        display: none;
    }
    .hide_mobile {
        display: none;
    }
    .navbar-header {
        display: block;
        background-color: #333;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        border: none;
    }
    .navbar-default .navbar-toggle:active{
        background-color: transparent;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
    .header-content > img {
        max-width: 60%;
    }

    ul.navigation li {
        float: none; 
        margin-left: 0;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    audio{
        width: 1px;
    }
}